#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Kimberley', sans-serif;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'ITC Benguiat Std', sans-serif;
  text-decoration: none;
  margin: 10px;
  padding: 1.5rem;
  background-color: #242424a3;
  border-radius: 10px;
  position: sticky;
  top: 0em;
}

.logo {
  text-decoration: none;
  text-shadow: 0 0 .5rem red;
  font-family: 'ITC Benguiat Std', sans-serif;
  font-weight: 700;                                            
  color: black;
  font-size: 3rem;
  width: 300px;
  margin: 1rem;
  padding: 10px 0;
  margin-bottom: 0%;
  position: float;
}

.logo.border-top {
  box-shadow: 0 0 .5rem red; 
}

#stranger::first-letter {
  font-size: 4rem;
  vertical-align: sub;
  text-decoration: underline;
  text-decoration-thickness: 4.5px;
}

#last {
  font-size: 4rem;
  vertical-align: sub;
  text-decoration: underline;
  text-decoration-thickness: 4.5px;
}

#stranger {
  text-decoration: overline;
  text-decoration-thickness: 4.5px;
}

#things {
  text-decoration: none;
  padding: 10px;
}

.welcome {
  font-size: 2rem;
  font-style: oblique;
  color: black;
  text-shadow: 0 0 .5rem red;
}

.header-button {
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
}

.logout {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
}

.link-button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-shadow: 0 0 .5rem red;
  text-transform: uppercase;
  justify-content: flex-end;
  padding-right: 3px;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: red;
}

input {
  font-family: 'Kimberley', sans-serif;
  font-size: 20px;
  margin: 20px;
  padding: 15px;
  width: 75%;
  text-align: center;
  border-color: red;
  border-radius: 10px;
  
}

input::placeholder{
  padding: 10px;
  color: white;
  font-family: 'Kimberley', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
}

.searchBar {
  margin: 10px;
  padding: 8px;
  width: 75%;
  text-align: center;
  border-color: red;
  text-transform: uppercase;
  border-radius: 10px;
  color: red;
  font-family: 'ITC Benguiat Std', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.searchBar::placeholder {
  color: rgba(255, 0, 0, 0.698);
  font-family: 'ITC Benguiat Std', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}

.single-post {
  display: flex;
  flex-flow: column wrap-reverse;
  background-color: rgba(255, 0, 0, 0.336);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.title {
  color: #1e193c ;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 5px;
}

.title:hover {
  text-shadow: 0 0 .5rem #3a5fe5;
}

.single-message {
  display: flex;
  flex-flow: column wrap-reverse;
  background-color: rgba(255, 0, 0, 0.336);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: red;
  text-shadow: 0 0 .5rem black;
}

.somePsa {
  font-size: 1rem;
}

.description[type=text]{
  box-sizing: border-box;
  width: 78%;
  padding-bottom: 20rem;
}

.deliver {
  text-align: center;
  padding: 2rem;
  color: white;
  font-family: 'Kimberley', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
}

.submit {
  font-size: 20px;
}

.messageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: red;
  text-shadow: 0 0 .5rem black;
}

.newMessage[type=text] {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20rem;
}

/* 
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */
